{% extends "layout.html" %}

{% block title %}
    Reset
{% endblock %}

{% block main %}
    <form action="/reset" method="post">
        <div class="form-group">
            <label for="exampleFormControlSelect1">Reset with </label>
            <select class="form-control" id="exampleFormControlSelect1" name="money">
              <option value="10000">10000</option>
              <option value="20000"twenty>20000</option>
            </select>
            <label for=""> USD</label>
          </div>
        <button class="btn btn-primary btn-lg" type="submit">Reset</button>
    </form>
{% endblock %}